html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#menu{
  background:black;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#menu a{
  font-size: 25px;
  color:white;
  text-decoration: none;
  font-weight: bold;
}

#menu a:hover{
  color:#0070ff;
}

.banner img{
  margin:0 auto;
  display: block;
}
