html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

#menu{
  background:black;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#menu a{
  font-size: 25px;
  color:white;
  text-decoration: none;
  font-weight: bold;
}

#menu a:hover{
  color:#0070ff;
}

.banner img{
  margin:0 auto;
  display: block;
}

.cuerpo{
  display: flex;
}
.cuerpo .contenido{
  width:65%;
  padding: 20px;
}
.cuerpo .contenido p{
  font-size: 20px;
  letter-spacing: 2px;
  text-align: justify;
}
.cuerpo .publicidad {
  width:35%;
  padding: 10px;
}

.cuerpo .publicidad img{
  width:350px;
}
.cuerpo .publicidad p{
  font-size: 20px;
  line-height: 1.5rem;
  text-align: justify;
}

.footer{
  width: 100%;
  background: black;
  height: 30px;
}
.footer p{
  color:white;
  font-size:20px;
  text-align: center;
}
